.pagination {
  position: relative;

  .action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    button {
      width: 100px;
    }

    button + button {
      margin-left: 30px;
    }
  }

  .items-number-selection {
    position: absolute;
    top: -10px;
    right: 0;

    mat-form-field {
      width: 40px;
      margin-right: 10px;
    }
  }

  @media screen and (max-width: 600px) {
    .items-number-selection {
      position: relative;
      width: fit-content;
      margin: auto;
    }
  }
}
