@import "../../../../assets/mixins.scss";

:host {
  width: 25%;
  box-sizing: border-box;
}

.post-card {
  max-width: 250px;
  min-width: 150px;
  margin: 10px;
  cursor: pointer;
  background-color: $default-white;

  .mat-card-header {
    height: 120px;
    .mat-card-title {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      word-break: break-all;
      line-height: 22px;
    }
  }

  .mat-card-content {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    .mat-card-image {
      height: 150px;
      width: 140px;
      object-fit: cover;
      margin: unset;
    }
  }

  .mat-card-footer {
    text-align: end;
    color: $dark-grey;
    margin: 10px -10px -10px -10px;

    span {
      margin-right: 5px;
    }
     span.high {
       color: $light-red;
     }
  }
}


@media screen and (max-width: 990px) {
  :host {
    width: 33%;
  }
}

@media screen and (max-width: 700px) {
  :host {
    width: 50%;
  }

  .mat-card-image {
    height: 110px;
    width: 100px;
    object-fit: cover;
    margin: unset;
  }

  .post-card {
    min-width: 120px;
  }
}
