@import "../../../../assets/mixins.scss";

:host {
  width: 20%;
  box-sizing: border-box;
}

.post-card {
  max-width: 250px;
  min-width: 150px;
  margin: 10px;
  cursor: pointer;
  background-color: $default-white;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0 4px 8px rgba(0,0,0,.12);
    transform: translate(2px, -4px);
  }

  .mat-card-header {
    height: 120px;

    ::ng-deep .mat-card-header-text {
      margin: 0;
    }

    .mat-card-title {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      word-break: break-all;
      line-height: 22px;
    }
  }

  .mat-card-content {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 150px;
    .mat-card-image {
      height: fit-content;
      width: 140px;
      object-fit: cover;
    }
  }

  .mat-card-footer {
    text-align: end;
    font-size: 12px;
    color: $dark-grey;
    margin: 10px -10px -10px -10px;

    span {
      margin-right: 5px;
    }
     span.high {
       color: $light-red;
     }
  }
}


@media screen and (max-width: 990px) {
  :host {
    width: 33%;
  }
}

@media screen and (max-width: 700px) {
  :host {
    width: 50%;
  }

  .mat-card-image {
    height: 110px;
    width: 100px;
    object-fit: cover;
    margin: unset;
  }

  .post-card {
    min-width: 120px;
  }
}
