<mat-card class="post-card" (click)="openDetails()">
  <mat-card-header>
    <mat-card-title [matTooltip]="post.title" [matTooltipShowDelay]="500">{{ post.title }}</mat-card-title>
    <mat-card-subtitle>by {{post.author}} on {{post.created | date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image [src]="post.thumbnail" [alt]="post.title">
  </mat-card-content>
  <mat-card-footer>
    <span [class.high]="post.score > 1000">{{post.score | number}} points</span>-
    <span>{{post.numComments | number}} comments</span>
  </mat-card-footer>
</mat-card>
