<div class="header">
  <div class="title">{{post.title}}</div>
  <div class="subtitle">
    <span>by {{post.author}}, on {{post.created | date}}</span>
    <span>{{post.score | number}} points - {{post.numComments | number}} comments</span>
  </div>
</div>
<div class="content" [ngSwitch]="post.kind">
  <img *ngSwitchCase="postKinds.IMAGE" class="content-img" [src]="post.url" [alt]="post.title">
  <div *ngSwitchCase="postKinds.SELF" class="selftext">
    <markdown [data]="post.selftext"></markdown>
  </div>
  <div *ngSwitchCase="postKinds.LINK" class="link-preview">
      <a [href]="post.url">
        <img [src]="post.thumbnail">
        <div class="description">
          <div>{{post.title}}</div>
          <div class="url">{{post.url | truncate:[70]}}</div>
        </div>
      </a>
  </div>
  <div *ngSwitchCase="postKinds.RICH_VIDEO">
    <div [innerHTML]="innerContent"></div>
  </div>
  <div *ngSwitchCase="postKinds.HOSTED_VIDEO">
    <video [src]="post.url"></video>
  </div>
</div>
