@import "../../../../assets/mixins.scss";

.header {
  font-weight: 500;

  .title {
    font-size: 18px;
  }
  .subtitle {
    display: flex;
    justify-content: space-between;
    color: $dark-grey;
  }
}

.content {
  margin-top: 5px;
  display: flex;
  justify-content: center;

  .selftext {
    border-top: solid 0.5px $dark-grey;
    border-bottom: solid 0.5px $dark-grey;
    padding: 10px 0;
    max-height: 70vh;
    overflow: auto;

    ::ng-deep markdown a {
      color: $secondary-color;
    }
  }

  img, video {
    max-height: 80vh;
    max-width: 100%;
    margin: auto;
  }
}
