<div class="post-cards-container">
  <app-post-entry *ngFor="let post of (posts$ | async)" [post]="post"></app-post-entry>
</div>

<!--we do not use page numbers because the content changes so frequently-->
<!--(infinite scrolling would be nice here)-->
<app-pagination  *ngIf="(posts$ | async)?.length > 0" [itemsPerPage]="paginationItemsPerPage"
                 [disabledNext]="!paginationAfterPost" [disabledPrevious]="!paginationBeforePost"
                 (pageChanges)="changePage($event)" (itemsPerPageChanges)="changeItemsPerPage($event)">
</app-pagination>
