mat-form-field {
  display: flex;
  justify-content: center;
  margin: 10px;

  ::ng-deep .mat-form-field-wrapper {
    width: 20rem;
  }
}


.post-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.post-cards-container:after {
  content: "";
  display: table;
  clear: both;
}

.clear-btn {
  border: none;
  background: none;
  font-size: 10px;
}
