.post-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.post-cards-container:after {
  content: "";
  display: table;
  clear: both;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  button + button {
    margin-left: 20px;
  }
}
